footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.removeProductButton {
    width: 60%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: var(--lightPurple);
    color: var(--white);
    transition: 0.5s;
}

.removeProductButton:hover {
    background-color: var(--purple);
    transform: scale(1.05);
}

@media screen and (max-width: 481px) {
    body {
        padding-bottom: 4.7rem;
    }
}