<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/global.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/clientsPage.css">
    <link rel="icon" href="..//assets/icon.png">
    <title>Pelo Macio | Clientes cadastrados</title>
</head>

<body>
    <header>
        <img id="icon2" src="../assets/icon2.png">
        <div id="titleHeaderContainer">
            <h1 id="titleHeader">Pelo Macio petshop</h1>
        </div>
        <nav id="navbar">
            <a class="headerButton" href="../../index.html">Início</a>
            <a class="headerButton" href="#">E-commerce</a>
        </nav>
    </header>
    <main id="main">
        <div class="clientsPageContainer" id="clientsPageContainer"></div>
        <div id="clientFullData">
            <div class="clientFullDataCard">
                <h2>Cliente</h2>
                <p id="clientName"></p>
                <p id="clientTel"></p>
                <p id="clientAddress"></p>
                <p id="appointmentDate"></p>
                <h2>Animal</h2>
                <p id="animalName"></p>
                <p id="animalAge"></p>
                <p id="animalSize"></p>
            </div>
        </div>
    </main>
    <footer>
        <h2>Todos os direitos reservados a  Pelo Macio petshop &copy;Copyright</h2>
    </footer>
    <script src="../JS/clientsPage.js" type="module"></script>
</body>

</html>