<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/global.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/ecommercepage.css">
    <link rel="icon" href="../assets/global/icon.png">
    <title>Pelo Macio | E-commerce</title>
</head>

<body>
    <header>
        <img id="icon2" src="../assets/global/icon2.png">
        <div id="titleHeaderContainer">
            <h1 id="titleHeader">Pelo Macio petshop</h1>
        </div>
        <nav id="navbar">
            <a class="headerButton" href="../../index.html">Início</a>
            <a class="headerButton" href="./clientsPage.html">Clientes</a>
        </nav>
    </header>
    <main id="main">
        <div class="productCard">
            <img class="productImage" src="../assets/products/aspiradorEletrico.webp" alt="">
            <h3>Aspirador de pelo elétrico</h3>
            <p>Aspirador de pelo elétrico para te poupar trabalho e fornecer agilidade, eficiência e qualidade</p>
            <h4>Preço: R$50,00</h4>
        </div>
    </main>
    <footer>
        <h2>Todos os direitos reservados a  Pelo Macio petshop &copy;Copyright</h2>
    </footer>
    <script src="../JS/ecommercePage.js" type="module"></script>
</body>

</html>