<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/global.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/ecommercepage.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../CSS/shoppingCar.css">
    <link rel="icon" href="../assets/global/icon.png">
    <title>Pelo Macio | Carrinho de compras</title>
</head>

<body>
    <header>
        <img id="icon2" src="../assets/global/icon2.png">
        <div id="titleHeaderContainer">
            <h1 id="titleHeader">Pelo Macio petshop</h1>
        </div>
        <nav id="navbar">
            <a class="headerButton" href="./ecommercePage.html">E-commerce</a>
        </nav>
    </header>
    <main id="main"></main>
    <footer>
        <h2>Todos os direitos reservados a  Pelo Macio petshop &copy;Copyright</h2>
    </footer>
    <script src="../JS/shoppingCar.js" type="module"></script>
</body>

</html>